#wrapper
  #container
    #contents
      .main650.no_default_main#main
        =form_for @recipe, html: {class: "recipe_show_wrapper"} do |f|
          .block20.box.hrecipe#recipe
            .links_for_recipe_author
              .link_to_author_kitchen
                %a #{@recipe.user.user_name}のレシピ
              .setting_and_delete_link
                %a 印刷
                |
                %a 削除
            #recipe-main.clearfix
              #recipe-title.clearfix
                .recipe-title.fn.clearfix
                  #recipe_title_id_in_place_editer.title
                    %span #{@recipe.title}
                  =f.text_field :title, id: "hidden_title_field", maxlength: "20"
                  %button.edit_ok_button.title_ok 保存
              #main-photo.clearfix
                #recipe_photo_wrapper.clickable_image_uploader_wrapper
                  =f.label :main_image do
                    -if @recipe.main_image.present?
                      =image_tag("#{@recipe.main_image}", width: 280, height: 383, class: "main_uploader")
                    -else
                      =image_tag("place_main_image.png", width: 280, height: 383, class: "default_uploader")
                    =f.file_field :main_image, style: "display: none"
              .desc-and-ingredients
                #description.summary
                  #recipe_description_userid_in_place_editer
                    .in_place_editor_field
                      -if @recipe.catchphrase.present?
                        %span #{@recipe.catchphrase}
                      %span.inplaceeditor-empty
                        -if @recipe.catchphrase.blank?
                          クリックしてこのレシピのキャッチコピーを入力
                  =f.text_area :catchphrase, style: "display: none", id: "hidden_catchphrase_field", maxlength: "60"
                  %br
                  %button.edit_ok_button.catch_ok 保存
                  #recipe_author_info_wrapper.right
                    =image_tag("#{@recipe.user.icon_image}", width: 22, height: 22, class: "author_icon")
                    %a#recipe_author_name.author
                      #{@recipe.user.user_name}
                #ingredients_wrapper
                  .link-to-ingredient-list
                    #ingredients
                    -if @recipe.ingredients.present?
                      .servings
                        %h3.servings_title
                          .content
                            %span 材料
                            %span.servings_for (#{@recipe.person})
                          .clear
                        #ingredients_list
                          -@recipe.ingredients.each do |ingredient|
                            .ingredient_row
                              .ingredient_name
                                %span.name #{ingredient.ingredient_name}
                              .ingredient_quantity
                                %span #{ingredient.weight}
                    -else
                      =image_tag("recipe_sample.png", width: 310, height: 217)

            #sk_product_recipe_promotion
            #steps
              .step
                %dl
                  %dt
                    .f_left
                      %span.step-position 1
                    .f_right
                    .clear
                  %dd
                    #step_text.font14
                      #step_memo_in_place_editor.in_place_editor_field{style: "background-color: transparent; background-image: none; opacity: 1;"}
                        -if @recipe.first_body.blank?
                          %span.advice_message_1 クリックして作り方を入力
                        -else
                          .advice_1 #{@recipe.first_body}
                        =f.text_area :first_body, class: "inplaceeditor-empty advice_body_here", style: "display: none", maxlength: "60"
                        %button.edit_ok_button.advice_ok 保存
              .step
                %dl
                  %dt
                    .f_left
                      %span.step-position 2
                    .f_right
                    .clear
                  %dd
                    #step_text.font14
                      #step_memo_in_place_editor.in_place_editor_field{style: "background-color: transparent; background-image: none; opacity: 1;"}
                        -if @recipe.second_body.blank?
                          %span.advice_message_2 クリックして作り方を入力
                        -else
                          .advice_2 #{@recipe.second_body}
                        =f.text_area :second_body, class: "inplaceeditor-empty advice_body_here_2", style: "display: none", maxlength: "60"
                        %button.edit_ok_button.advice_ok_2 保存
              .step
                %dl
                  %dt
                    .f_left
                      %span.step-position 3
                    .f_right
                    .clear
                  %dd
                    #step_text.font14
                      #step_memo_in_place_editor.in_place_editor_field{style: "background-color: transparent; background-image: none; opacity: 1;"}
                        -if @recipe.third_column.blank?
                          %span.advice_message_3 クリックして作り方を入力
                        -else
                          .advice_3 #{@recipe.third_column}
                        =f.text_area :third_column, class: "inplaceeditor-empty advice_body_here_3", style: "display: none", maxlength: "60"
                        %button.edit_ok_button.advice_ok_3 保存
            .clear
            #memo_and_history.clearfix
              #memo_wrapper.block
                %h3.borderles コツ・ポイント
                #advice.text_content
                  #recipe_advice_in_place_editor.in_place_editor_field{style: "background-color: transparent;"}
                    %span.inplaceeditor-empty.default_tips
                      -if @recipe.tips.present?
                        #{@recipe.tips}
                      -else
                        クリックしてコツやポイントを入力
                    =f.text_area :tips, id: "hidden_tips_field", style: "display: none", maxlength: "120"
                    %button.edit_ok_button.tips_ok 保存

              #history_wrapper.block
                %h3.borderles このレシピの生い立ち
                #history.text_content
                  #recipe_history_in_place_editor.in_place_editor_field{style: "background-color: transparent;"}
                    %span.inplaceeditor-empty.default_background
                      -if @recipe.background.present?
                        #{@recipe.background}
                      -else
                        例）母から教わったレシピを、家族が好む甘めの味付けにアレンジしました
                        %br
                        例）○○番組で紹介されたレシピを、家にある材料で簡単に作れるよう工夫しました
                    =f.text_area :background, id: "hidden_background_field", style: "display: none", maxlength: "120"
                    %button.edit_ok_button.background_ok 保存


      #side.mykitchen_side_column
        .draft_box
          .messages_to_publish
            %form#confirm_publish_form.edit_recipe
              %input.button.attention{type: "submit", name: "commit", value: "レシピを公開する"}

  #colorbox
    #cboxWrapper
      .cboxContent{style: "float: left; width: 460px; height: 432px"}
        #cboxLoadedContent{style: "width: 450px; overflow: auto; height: 420px; background: rgb(255, 255, 255);"}
          #ingredients_edit
            #ingredient_list
              =form_for @recipe, url: {action: :ingredients_update}, html: {id: "save-ingredient"} do |f|
                .serving_container#servings
                  (
                  =f.text_field :person, class:"servings", id: "serving_for", placeholder: "何人分"
                  )
                  %span 例)2人分
                .clear
                #list_header.list_header
                  %span.name 材料・調味料
                  %span.quantity 分量
                #edit-ingredients-list.sara_sortable_parent
                  =fields_for @new_ingredient do |i|
                    =i.hidden_field :id, value: "#{@new_ingredient.id + 1}", class: "hidden_ingredient_id"
                  -@ingredients.each do |ingredient|
                    =fields_for "ingredients[]", ingredient do |other|
                      #ingredient-row.row.sara_sortable.sara_sortable_block
                        .sortable_line
                          .sortable_line_inner
                            =image_tag("drag_icon", class: "drag")
                            %span.name
                              =other.text_field :ingredient_name, value: ingredient.ingredient_name, class: "text-field sortable_line_name", placeholder: "例: 豚肉"
                            %span.quantity
                              =other.text_field :weight, value: ingredient.weight, class: "text-field sortable_line_quantity", placeholder: "例: 350g"
                            =link_to image_tag('delete_icon.png', class: "delete"), recipe_ingredient_path(recipe_id: @recipe, id: ingredient.id), method: :delete
                            %span
                  .footer_list
                    .add_ingredient_field
                      %input.append_line{type: "button", value: "行を追加する"}
                    .clear
                  .submit.save
                    #ingredients_submit_button
                      =f.submit class: "ingredients_submit_button", value: "保存して閉じる"

