#wrapper
  #container
    #contents
      .main650.no_default_main#main
        #kitchen_editer
          #two-col-left.kitchen
            #user
              .separate_wrapper.page_title
                %h1.page_title_with_line 登録情報
                %p.separate_right このページはあなたのみ閲覧できます
              #account_info
                #user_icon_wrapper
                  %a.colorbox_link.icon_modal_open
                    =image_tag("#{@user.icon_image.thumb.url}", width: 48, height: 48)
                  %p.icon_modal_open
                    %a.colorbox_link 変更する
                %h2#nickname
                  #{@user.user_name}
                  %a#link_to_edit_user_name
                    (変更する)
                %p#kitchen_setting
                  %span.your_kitchen
                    あなたのキッチン :
                  %a
                    #{@user.user_name}のキッチン
                %p#register_and_update_date
                  登録日:
                  = l Date.parse(@user.created_at.to_s, format: :short)
                  更新日:
                  = l Date.parse(@user.updated_at.to_s, format: :short)
#user_page_icon_modal_content
  .inner
    %h2.page_title 写真を変更する
    %p.icon_message 掲載したい写真を選んで、決定ボタンを押してください。
    #upload-form
      = form_for @user do |f|
        = f.file_field :icon_image, id: "user_uploaded_photo", size: "28"
        %p.submit
          = f.submit "決定"
